body {
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

.hero-image {
  position: relative;
  text-align: center;
  height: 90%;
}

h1 {
  /* font-family: "Inspiration", cursive; */
  font-family: "Joan", sans-serif;
  font-weight: 100;
  font-size: 8vw;

}

.navbar {
  height: 100px;
  background: #fff;
}

a.nav-link {
  color: #000;
}
li.nav-item {
  padding: 0 30px;
  font-family: "Roboto", sans-serif;
}

.navbar-nav {
  background: #fff;
}

h2 {
  font-family: "Joan", sans-serif;
  font-size: 30px;
}

h3 {
  font-family: "Joan", sans-serif;
  font-size: 30px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.card {
  border-radius: 0;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.card-header {
  background-color: #fff;
  border-bottom: 0 !important;
}

.btn.btn-link {
  display: inline-block;
  width: 90%;
}

.btn.btn-link {
  color: #000;
  text-decoration: none;
}

table {
  min-width: 100%;
}

.th-row {
  background-color: #f2f2f2;
}

li {
  width: 100%;
}

td {
  width: 1% !important;
}

th {
  width: 33% !important;
  padding: 12px !important;
}

.header {
  background-color: #f1f1f1;
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border-top: 1px solid #ddd; /* Add a grey border */
  border-right: 1px solid #ddd; /* Add a grey border */
  border-left: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  
}
#myInput {
  background-image: url("/css/searchicon.png"); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable,
#musicals-and-jazz,
#pop,
#bollywood {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  font-size: 18px; /* Increase font-size */
}

#myTable th,
#myTable td,
#musicals-and-jazz th,
#musicals-and-jazz td,
#pop th,
#pop td,
#bollywood th,
#bollywood td {
  text-align: left; /* Left-align text */
  padding: 12px !important; /* Add padding */
}

#myTable tr,
#musicals-and-jazz tr,
#pop tr,
#bollywood tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd; /* Add a grey border */
  border-right: 1px solid #ddd; /* Add a grey border */
  border-left: 1px solid #ddd; /* Add a grey border */
}

#myTable tr.header,
#myTable tr:hover,
#musicals-and-jazz tr.header,
#musicals-and-jazz tr:hover,
#pop tr.header,
#pop tr:hover,
#bollywood tr.header,
#bollywood tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

#classical tbody:nth-child(even) {
  background-color: #f2f2f2;
}

#myUL {
  height: 75vh;
  overflow-y: auto;
}

/* Repertoire filter buttons */

#all-button,
#classical-button,
#pop-button,
#bollywood-button {
  margin-top: 10px;
}

.contact-image {
  width: 80%;
  border-radius: 5px;
}

.fa-angle-down,
.fa-angle-up {
  padding-top: 12px;
}
.center-form {
  padding-top: 80px;
}

.form-control {
  color: #000;
  border: 1px solid #000;
  border-radius: 0.15rem;
}

.submit-btn {
  background-color: #fff;
  color:#000;
  border: 1px solid #000;
  border-radius: 0.15rem;
  font-family: "Roboto", sans-serif; 
}

#logo {
  border-radius: 10px;
}

#footer-logo {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.footer-link {
  color: #6c757d!important;
}

.socials {
  color: #6c757d!important;
}

@media only screen and (max-width: 600px) {
  .center-form {
    padding-top: 0;
  }

  h1 {
    padding-top: 30px;
  }

  td {
    max-width: 5px !important;
    font-size: 14px;
  }
  nav.navbar.navbar-expand-lg {
    height: 50px;
  }

  h2 {
    font-size: 20px;
  }
}
