body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

.hero-image { 
    position: relative;
  text-align: center;
  height: 90%;
  }

  h1 {
    font-family: 'Inspiration', cursive;
    font-size: 200px;
  }

  .navbar {
      height: 100px;
      background: #fff;
  }

  a.nav-link {
    color: #000;

  }
 li.nav-item {
   padding: 0 30px;
   font-family: 'Roboto', sans-serif;
 }

 h3 {
  font-family: 'Inspiration', cursive;
  font-size: 50px;
 }

 @media only screen and (max-width: 600px) {
   h1 {
     font-size: 75px;
   }
 }
 